.page {
  --lucky-main-rgb: rgb(200, 50, 40);
  --lucky-sub-rgb: rgb(237, 114, 192);
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

header.header {
  width: 100%;
  height: 70px;
  padding: 0 15px;

  display: flex;
  align-items: center;
}

.header .title {
  /* color: var(--lucky-sub-rgb); */
  /* text-shadow: 0 0 3vw var(--lucky-sub-rgb); */
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;

  font-size: 1.4em;
  font-weight: 800;
  font-family: var(--font-yonepick-bold);
}

main.main {
  width: 100%;
}

.neon {
  animation: neon 2s linear infinite;
  -moz-animation: neon 2s linear infinite;
  -webkit-animation: neon 2s linear infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw var(--lucky-main-rgb), 0 0 3vw var(--lucky-main-rgb), 0 0 10vw var(--lucky-main-rgb), 0 0 10vw var(--lucky-main-rgb), 0 0 .4vw var(--lucky-main-rgb), .5vw .5vw .1vw #620044;
    color: var(--lucky-sub-rgb);
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #53424C;
    color: #91587A;
  }
}

section.event {
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section.event h1 {
  font-family: var(--font-cafe24);
  color: var(--lucky-sub-rgb);
  font-size: 40px;
}

div.event-description {
  padding: 10px;
  width: 380px;
}

div.event-description p {
  color: white;
  text-align: center;
}

div.event-description p b {
  font-size: 1.1em;
}

div.event-description p u {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 800;
}

div.event-description p.event-warning {
  margin-top: 20px;
  font-size: 0.8em;
  color: #D8BFD8;
}

section.the-hall-of-fame {
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section.the-hall-of-fame h1 {
  color: var(--lucky-sub-rgb);
  
  font-family: var(--font-cafe24);
}

section.the-hall-of-fame h1 b {
  color: var(--lucky-main-rgb);
  font-size: 1.4em;
}

section.the-hall-of-fame article.introduce h2 {
  margin-top: 5px;
  text-align: center;
  color: #FFD663;
  font-size: 1.2em;
  font-family: var(--font-yonepick-bold);
}

section.the-hall-of-fame article.introduce p {
  text-align: center;
  color: white;
  font-size: 0.8em;
  font-family: var(--font-yonepick);
}

section.the-hall-of-fame article.introduce > div {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav.link {
  margin-top: 20px;
}
nav.link a {
  margin: 0 7px;
  color: var(--lucky-sub-rgb);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {
  .page {
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
 
}
